*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

img{
    width: 100%;
}
.body-content{
    background: var(--Colors-state-bg-white-0, #FFF);
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
/* --------------- Header ---------------*/
.head-pc{
    background: var(--Colors-state-bg-white-0, #FFF);
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
}

.head-pc-top{
    display: flex;
    padding: 8px 48px 4px 48px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.menu-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.head-location,.head-numberphone,
.head-support,.head-article{
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    border: 1px solid var(--Colors-state-stroke-soft-200, #E5E5E5);
    background: var(--Colors-state-bg-white-0, #FFF);
    /* Shadow Soft/Shadow Soft */
    box-shadow: 0px 1.5px 6px -1px rgba(10, 9, 11, 0.07);
}

.head-location svg,
.head-numberphone svg,
.head-support svg,
.head-article svg{
    width: 16px;
    height: 16px;   
}

.head-location .btn-location,
.btn-numberphone,.btn-support,.btn-article{
    display: flex;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Colors-state-text-strong-950, #0F0F0F);
    /* Text small/Medium */
    font-family: 'Inter',sans-serif;;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.head-button{
    display: flex;
    padding-left: 12px;
    align-items: flex-start;
    gap: 8px;   
}

.head-pc-bottom{
    display: flex;
    width: 100%;
    padding: 14px 48px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Colors-state-bg-white-0, #FFF);
}

.head-menu-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.head-logo-menu{
    display: flex;
    padding-left: 24px;
    align-items: flex-start;
    gap: 8px;
}

.logo{
    width: 96px;
    height: 48px;
    aspect-ratio: 2/1;
    background: url(<path-to-image>) lightgray 0px -24px / 100% 200% no-repeat;
    /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07); */
}

.menu-list{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    border: 1px solid var(--Colors-state-stroke-soft-100, #F5F5F5);
    background: var(--Colors-state-bg-weak-50, #FAFAFA);
}

.menu-list svg{
    width: 20px;
    height: 20px;
}

.btn-list{
    color: var(--Colors-state-text-strong-950, #0F0F0F);
    /* Text md/Medium */
    font-family: 'Inter',sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.search-profile-cart{
    display: flex;
    align-items: center;
}

.search-button {
    display: flex;
    padding-right: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.btn-popup-search{
    display: flex;
    width: 200px;
    padding: 12px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    border: 1px solid var(--Colors-state-stroke-soft-100, #F5F5F5);
    background: var(--Colors-state-bg-weak-50, #FAFAFA);    
}

.btn-popup-search svg{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.btn-search{
    color: var(--Colors-state-text-strong-950, #0F0F0F);
    /* Text md/Medium */
    font-family: 'Inter',sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

.profile{
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    border: 1px solid var(--Colors-state-stroke-soft-100, #F5F5F5);
    background: var(--Colors-state-bg-weak-50, #FAFAFA);
}

.btn-profile{
    cursor: pointer;
}

.profile .btn-profile svg{
    width: 20px;
    height: 20px;
}

.profile-cart{
    display: flex;
    padding-left: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.cart{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    background: var(--Colors-state-primary-primary-base, #86D733);
}

.cart svg{
    width: 20px;
    height: 20px;
}

.cart a{
    display: flex;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Colors-state-text-strong-950, #0F0F0F);
    /* Text md/Medium */
    font-family: 'Inter',sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

#header-bottom-pc {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
  }
/* --------------- Header ---------------*/

/* --------------- MAIN --------------- */
.main-content{
    width: 100%;
    margin: 0;
}
.content,
.content * {
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 1344px;
  width: 100%;
  margin: auto;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  
  position: relative;
}

/* BANNER */
.banner-main{
    background: var(--moss-50, #f5fbee);
    border-radius: 24px;
    padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: 1344px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1344' height='326' viewBox='0 0 1344 326' fill='none'%3E%3Cg filter='url(%23filter0_f_453_781)'%3E%3Cpath d='M-213.789 295.94C-213.789 295.94 949.16 922.419 843.815 191.842C817.446 8.96977 1352.67 359.305 1221.85 213.635C487.9 -603.586 1895.66 331.872 1982.02 334.301' stroke='%2386D733' stroke-width='46'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_453_781' x='-324.151' y='-244' width='2406.62' height='912.719' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='50' result='effect1_foregroundBlur_453_781'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.group-text-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.banner .text-banner{
    color: var(--moss-950, #1a280b);
    text-align: left;
    font-family: var(--display-xl-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-xl-bold-font-size, 60px);
    line-height: var(--display-xl-bold-line-height, 72px);
    letter-spacing: var(--display-xl-bold-letter-spacing, -0.02em);
    font-weight: var(--display-xl-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.banner .text-banner1{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-xl-medium-font-size, 20px);
    line-height: var(--text-xl-medium-line-height, 30px);
    font-weight: var(--text-xl-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.btn-banner{
    background: var(--colors-state-bg-strong-950, #0f0f0f);
    border-radius: 999px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.frame-btn-suggest{
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.btn-suggest{
    color: var(--colors-state-text-white-0, #ffffff);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
}
/* BANNER */

/* Slide voucher */
.slide-voucher{
    background: var(--colors-state-bg-weak-50, #fafafa);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-100, #f5f5f5);
    border-width: 1px;
    padding: 16px;
    max-width: 1344px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.list-voucher{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.voucher-1{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 292px;
    position: relative;
    box-shadow: var(--shadow-hard-2x-small-box-shadow, 0px 0px 0px 1px rgba(10, 9, 11, 0.05), 0px 0px 7px 0px rgba(10, 9, 11, 0.05), 0px 0px 5px -2px rgba(10, 9, 11, 0.06));
}

.subtract{
    align-self: stretch;
    flex-shrink: 0;
    height: 108px;
    position: relative;
    overflow: visible;
}

.inf-voucher{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 292px;
    position: absolute;
    left: 0px;
    top: 50%;
    translate: 0 -50%;
}

.inf-button-voucher{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text-voucher{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 222px;
    position: relative;
}

.price-voucher{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-small-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--text-small-bold-font-size, 14px);
    line-height: var(--text-small-bold-line-height, 20px);
    font-weight: var(--text-small-bold-font-weight, 700);
    position: relative;
    width: 205px;
}

.vou-text{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-xs-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-xs-medium-font-size, 12px);
    line-height: var(--text-xs-medium-line-height, 16px);
    font-weight: var(--text-xs-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-voucher-1,.button-voucher-2,
.button-voucher-3,.button-voucher-4{
    border-radius: 999px;
    padding: 4px 14px 4px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.button-voucher-1{
    background: var(--colors-state-error-base, #f04438);
}

.button-voucher-2{
    background: var(--colors-state-away-base, #eaaa08);;
}

.button-voucher-3{
    background: var(--colors-state-success-base, #16b364);
}

.button-voucher-4{
    background: var(--colors-state-information-base, #2e90fa);
}

.btn-vou{
    color: var(--colors-state-text-white-0, #ffffff);
    text-align: left;
    font-family: var(--text-2xs-regular-font-family, "Inter-Regular", sans-serif);
    font-size: var(--text-2xs-regular-font-size, 11px);
    line-height: var(--text-2xs-regular-line-height, 12px);
    font-weight: var(--text-2xs-regular-font-weight, 400);
    position: relative;
}

.line-1,.line-2
,.line-3,.line-4{
    margin-top: -1px;
    border-style: dashed;
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
}

.line-1{
    border-color: var(--colors-state-error-light, #fecdca);
}

.line-2{
    border-color: var(--colors-state-away-light, #feee95);
}

.line-3{
    border-color: var(--colors-state-success-light, #aaf0c4);
}

.line-4{
    border-color: var(--colors-state-information-light, #b2ddff);
}



.vou-text-1,.vou-text-2
,.vou-text-3,.vou-text-4{
    text-align: left;
    font-family: var(--text-2xs-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-2xs-medium-font-size, 11px);
    line-height: var(--text-2xs-medium-line-height, 12px);
    font-weight: var(--text-2xs-medium-font-weight, 500);
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.vou-text-1{
    color: var(--colors-state-text-strong-950, #0f0f0f);
}

.vou-text-2{
    color: var(--colors-state-away-base, #eaaa08);;
}

.vou-text-3{
    color: var(--colors-state-success-base, #16b364);
}

.vou-text-4{
    color: var(--colors-state-information-base, #2e90fa);
}

/* Slide voucher */

/* Flash sale */
.flash-sale-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1344px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(254, 243, 242, 1) 0%, rgba(254, 205, 202, 1) 50.49999952316284%);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-100, #f5f5f5);
    border-width: 1px;
    padding: 24px;
}

.bolt{
    opacity: 0.12;
    flex-shrink: 0;
    width: 908px;
    height: 908px;
    position: absolute;
    left: -276px;
    top: -152px;
    overflow: visible;
}

.bolt2{
    opacity: 0.12;
    flex-shrink: 0;
    width: 908px;
    height: 908px;
    position: absolute;
    left: 680px;
    top: -346px;
    overflow: visible;
}

.flash-sale-text{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.flash-sale-text svg{
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.text-fl{
    background: linear-gradient(90deg, rgba(240, 68, 56, 1) 0%, rgba(85, 22, 12, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
    position: relative;
}

.list-product{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.product-card{
    background: var(--colors-state-bg-white-0, #ffffff);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 312px;
    position: relative;
    overflow: hidden;
}

.product-img{
    align-self: stretch;
    flex-shrink: 0;
    height: 312px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 1;
}

.product-info{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 232px;
    position: relative;
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.badge{
    background: var(--colors-state-information-lighter, #f5faff);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--colors-state-information-light, #b2ddff);
    border-width: 1px;
    padding: 2px 3px 2px 3px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-4{
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.badge2{
    color: var(--colors-state-information-base, #2e90fa);
    text-align: left;
    font-family: var(--text-xs-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-xs-semibold-font-size, 12px);
    line-height: var(--text-xs-semibold-line-height, 16px);
    font-weight: var(--text-xs-semibold-font-weight, 600);
    position: relative;
}

.badge3{
    background: var(--colors-state-feature-lighter, #f4f3ff);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--colors-state-feature-light, #d9d6fe);
    border-width: 1px;
    padding: 2px 3px 2px 3px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.badge4{
    color: var(--colors-state-feature-base, #7a5af8);
    text-align: left;
    font-family: var(--text-xs-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-xs-semibold-font-size, 12px);
    line-height: var(--text-xs-semibold-line-height, 16px);
    font-weight: var(--text-xs-semibold-font-weight, 600);
    position: relative;
}

.product-description{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.product-name{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.badge5{
    background: var(--colors-state-bg-weak-100, #f5f5f5);
    border-radius: 6px;
    padding: 2px 3px 2px 3px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-contained-filled{
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.badge6{
    color: var(--colors-state-text-sub-600, #525252);
    text-align: left;
    font-family: var(--text-xs-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-xs-semibold-font-size, 12px);
    line-height: var(--text-xs-semibold-line-height, 16px);
    font-weight: var(--text-xs-semibold-font-weight, 600);
    position: relative;
}

.product-price{
    color: var(--colors-state-error-base, #f04438);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}
/* Flash sale */

/* Gói hàng đối tác kết hợp */
.partner-collab{
    padding: 24px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1344px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text-partner-collab{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text-partner{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.group-comingsoon{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1344px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.comingsoon{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.rectangle-1{
    background: var(--vft-farms-600, #4f7a21);
    border-radius: 24px;
    flex: 1;
    height: 544px;
    position: relative;
    background-image: url("/img/Icon_162_1_.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.img-group{
    opacity: 0.96;
    flex-shrink: 0;
    width: 126.05%;
    position: absolute;
    right: -0.75%;
    left: -25.3%;
    bottom: -28.71%;
    top: 55.42%;
    transform: translate(340px, -301.47px);
    overflow: visible;
}

.img-vector2{
    flex-shrink: 0;
    width: 58.76px;
    height: 58.76px;
    position: absolute;
    left: calc(50% - 91px);
    top: calc(50% - 44.79px);
    transform: translate(7.46px, -7.75px);
    overflow: visible;
}

.img-symbol{
    flex-shrink: 0;
    width: 71px;
    height: 21px;
    position: absolute;
    left: calc(50% - -103px);
    top: calc(50% - -32px);
    overflow: visible;
}

.text-comingsoon{
    color: var(--moss-50, #f5fbee);
    text-align: left;
    font-family: var(--display-2xl-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-2xl-bold-font-size, 72px);
    line-height: var(--display-2xl-bold-line-height, 90px);
    letter-spacing: var(--display-2xl-bold-letter-spacing, -0.02em);
    font-weight: var(--display-2xl-bold-font-weight, 700);
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}
/* Gói hàng đối tác kết hợp */

/* Sản Phẩm */
.list-product-sale{
    padding: 24px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1344px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.menu-list-product{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text-menu-product{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.group-button{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.button-1{
    background: var(--colors-state-primary-primary-base, #86d733);
    border-radius: 999px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.frame-button-all,.frame-button-best-seller,
.frame-button-new-product,.frame-button-organic,
.frame-button-vietgap,.frame-button-see-more{
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.btn-all,.btn-best-seller,.btn-new-product
,.btn-organic,.btn-vietgap,.btn-see-more{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
}

.frame-btn{
    padding: 0px 0px 0px 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.button-2,.button-3,.button-4,.button-5{
    background: var(--colors-state-bg-white-0, #ffffff);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.list-product-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.group-product-card{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.product-card-2{
    background: var(--colors-state-bg-white-0, #ffffff);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 256px;
    position: relative;
    overflow: hidden;
}

.product-img-2{
    background: linear-gradient(to left, #ffffff, #ffffff);
    align-self: stretch;
    flex-shrink: 0;
    height: 256px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 1;
}

.button-see-more{
    background: var(--colors-state-bg-white-0, #ffffff);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--shadow-soft-shadow-soft-box-shadow, 0px 1.5px 6px -1px rgba(10, 9, 11, 0.07));
    overflow: hidden;
}

.img-loader{
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}
/* Sản Phẩm */
/* Sự khác biệt VFT2 */
.list-different-vft{
    padding: 24px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.different-vft{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.rectangle-2{
    background: var(--vft-farms-400, #8ed740);
    flex-shrink: 0;
    width: 170px;
    height: 46px;
    position: absolute;
    left: 189px;
    top: -4px;
}

.different{
    text-align: left;
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.text-different1{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
}

.text-different2{
    color: var(--colors-state-text-sub-500, #737373);
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
}

.group-frame{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1344px;
    height: 560px;
    position: relative;
}

.gr-frame{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 720px;
    position: relative;
}

.usp-brand-1{
    background: var(--vft-farms-50, #f5fbee);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--vft-farms-100, #e6f4d7);
    border-width: 1px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 720px;
    height: 314px;
    position: relative;
    overflow: hidden;
}

.text-usp-brand-1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text-vftfarms-top{
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "-", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.text-vftfarms1{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    font-family: var(--display-xs-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-xs-bold-font-size, 24px);
    line-height: var(--display-xs-bold-line-height, 32px);
    font-weight: var(--display-xs-bold-font-weight, 700);
}

.text-vftfarms2{
    color: var(--colors-state-primary-primary-base, #86d733);
    font-family: var(--display-xs-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-xs-bold-font-size, 24px);
    line-height: var(--display-xs-bold-line-height, 32px);
    font-weight: var(--display-xs-bold-font-weight, 700);
}

.text-vftfarms3{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    font-family: var(--display-xs-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-xs-bold-font-size, 24px);
    line-height: var(--display-xs-bold-line-height, 32px);
    font-weight: var(--display-xs-bold-font-weight, 700);
}

.text-vftfarms-bottom{
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "-", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.text-vftfarms4{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
}

.text-vftfarms5{
    color: var(--colors-state-primary-primary-base, #86d733);
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
}

.text-vftfarms6{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
}

.text-vftfarms7{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
}

.usp-brand-2{
    background: var(--colors-state-bg-weak-50, #fafafa);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 720px;
    position: relative;
    overflow: hidden;
}

.text-usp-brand-2{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.text-vftfarm2-1,.text-vftfarm2-2,
.text-vftfarm2-3,.text-vftfarm2-4{
    background: var(--colors-state-bg-white-0, #ffffff);
    border-radius: 20px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-100, #f5f5f5);
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 269px;
    position: relative;
}

.local_shipping,.smiley-wink
,.wallet,.bag-04{
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.text-brand{
    text-align: left;
    font-family: var(--text-xl-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-xl-semibold-font-size, 20px);
    line-height: var(--text-xl-semibold-line-height, 30px);
    font-weight: var(--text-xl-semibold-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.text-1,.text-2,.text-3,.text-4,.text-5,.text-6,.text-7
,.text-8,.text-9.text-10,.text-11,.text-12{
    font-family: var(--text-xl-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-xl-semibold-font-size, 20px);
    line-height: var(--text-xl-semibold-line-height, 30px);
    font-weight: var(--text-xl-semibold-font-weight, 600);
}

.text-2{
    color: var(--colors-state-error-base, #f04438);
}

.text-5{
    color: var(--colors-state-feature-base, #7a5af8);
}

.text-8{
    color: var(--colors-state-information-base, #2e90fa);
}

.text-11{
    color: var(--colors-state-away-base, #eaaa08);
}

.vft-frame-app{
    background: var(--blue-light-100, #e0f2fe);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 608px;
    height: 560px;
    position: relative;
    overflow: hidden;
}

.font-app-vft{
    opacity: 0.4;
    flex-shrink: 0;
    width: 858px;
    height: 1090px;
    position: absolute;
    left: -183px;
    top: -242px;
    overflow: visible;
}

.background{
    border-radius: 24px;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.phone-images {
    width: 467.209px;
    height: 366.972px;
    position: absolute;
    left: 62px;
    bottom: 67.249px;
}

.i-phone-12-pro {
    width: 152.32px;
    height: 315.06px;
    position: absolute;
    left: 0px;
    top: 62.64px;
    transform-origin: 0 0;
    transform: rotate(-15deg) scale(1, 1);
}

.i-phone-12-pro2 {
    width: 98.99%;
    height: 96.94%;
    position: absolute;
    right: 0.43%;
    left: 0.57%;
    bottom: 1.53%;
    top: 1.53%;
    object-fit: cover;
}
.screen-i-phone-12-pro {
    width: 89.08%;
    height: 92.92%;
    position: absolute;
    right: 5.32%;
    left: 5.6%;
    bottom: 3.54%;
    top: 3.54%;
    overflow: visible;
}

.i-phone-12-pro3 {
    width: 152.01px;
    height: 314.43px;
    position: absolute;
    left: 320.38px;
    top: 23.82px;
    transform-origin: 0 0;
    transform: rotate(15deg) scale(1, 1);
}

.screen-i-phone-12-pro2 {
    width: 89.08%;
    height: 92.92%;
    position: absolute;
    right: 5.32%;
    left: 5.6%;
    bottom: 3.54%;
    top: 3.54%;
    overflow: visible;
}

.i-phone-12-pro4 {
    width: 171.75px;
    height: 355.42px;
    position: absolute;
    left: 140.94px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.screen-i-phone-12-pro3 {
    width: 89.08%;
    height: 92.92%;
    position: absolute;
    right: 5.32%;
    left: 5.6%;
    bottom: 3.54%;
    top: 3.54%;
    overflow: visible;
}
  
.vftapp-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 371px;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 35px;
}

.title-vftapp{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: center;
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.subtitle1{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-md-medium-font-size, 16px);
    line-height: var(--text-md-medium-line-height, 24px);
    font-weight: var(--text-md-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.download-button{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 16px;
}

.buttons9{
    background: var(--colors-state-bg-strong-950, #0f0f0f);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--shadow-soft-shadow-soft-box-shadow, 0px 1.5px 6px -1px rgba(10, 9, 11, 0.07));
    overflow: hidden;
}

.icon-apple,.icon-chplay{
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.frame-btn-ap,.frame-btn-ch{
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.btn-ap,.btn-chplay{
    color: var(--colors-state-text-white-0, #ffffff);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
}

.group-news{
    padding: 24px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title-news{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text-title{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: center;
    font-family: var(--display-sm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--display-sm-bold-font-size, 30px);
    line-height: var(--display-sm-bold-line-height, 38px);
    font-weight: var(--display-sm-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.list-news{
    padding: 0px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.news-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.rectangle-vft{
    background: linear-gradient(to left, #d9d9d9, #d9d9d9);
    border-radius: 24px;
    align-self: stretch;
    flex-shrink: 0;
    height: 356px;
    position: relative;
    object-fit: cover;
}

.title-h1{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 426px;
    height: 48px;
    position: relative;
}

.path-vft{
    flex-shrink: 0;
    width: 416px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 32px;
    overflow: visible;
}

.title-vftfarms{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--display-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--display-md-semibold-font-size, 36px);
    line-height: var(--display-md-semibold-line-height, 44px);
    letter-spacing: var(--display-md-semibold-letter-spacing, -0.02em);
    font-weight: var(--display-md-semibold-font-weight, 600);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 656px;
    height: 44px;
}

.title-p{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.paragraph-1{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--display-xs-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--display-xs-medium-font-size, 24px);
    line-height: var(--display-xs-medium-line-height, 32px);
    font-weight: var(--display-xs-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.title-p2{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-vftfarms{
    background: var(--colors-state-bg-weak-50, #fafafa);
    border-radius: 99px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-100, #f5f5f5);
    border-width: 1px;
    padding: 2px 8px 2px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.title-vftfarms{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}

.frame-vftfarms2{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.writter{
    color: var(--colors-state-success-base, #16b364);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}

.text-news{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}

.date-news{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
    font-size: var(--text-md-regular-font-size, 16px);
    line-height: var(--text-md-regular-line-height, 24px);
    font-weight: var(--text-md-regular-font-weight, 400);
    position: relative;
}

.news-2{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
}

.news-vft2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 656px;
    position: relative;
}

.line-5{
    margin-top: -1px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
}

.rectangle-vft2{
    background: linear-gradient(to left, #d9d9d9, #d9d9d9);
    border-radius: 24px;
    flex-shrink: 0;
    width: 236px;
    height: 140px;
    position: relative;
    object-fit: cover;
}

.frame-group-vft{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.title-h2{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.title-vftfarms2{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--display-sm-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--display-sm-semibold-font-size, 30px);
    line-height: var(--display-sm-semibold-line-height, 38px);
    font-weight: var(--display-sm-semibold-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.title-p2{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-md-medium-font-size, 16px);
    line-height: var(--text-md-medium-line-height, 24px);
    font-weight: var(--text-md-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
}

.title-p2-2{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-vftfarms2{
    background: var(--colors-state-bg-weak-50, #fafafa);
    border-radius: 99px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-100, #f5f5f5);
    border-width: 1px;
    padding: 2px 8px 2px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.title-vftfarms1-2{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}

.frame-vftfarms2-2{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.writter-2{
    color: var(--colors-state-success-base, #16b364);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}

.text-news-2{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-semibold-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--text-md-semibold-font-size, 16px);
    line-height: var(--text-md-semibold-line-height, 24px);
    font-weight: var(--text-md-semibold-font-weight, 600);
    position: relative;
}

.date-news-2{
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
    font-size: var(--text-md-regular-font-size, 16px);
    line-height: var(--text-md-regular-line-height, 24px);
    font-weight: var(--text-md-regular-font-weight, 400);
    position: relative;
}
/* Sự khác biệt VFT2 */


/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.footer-content{
    background: var(--colors-state-bg-white-0, #ffffff);
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-100, #f5f5f5);
    border-width: 2px 0px 0px 0px;
    padding: 64px 48px 24px 48px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.head-ft{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.logo-vft-ft{
    flex-shrink: 0;
    width: 192px;
    height: 96px;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
    object-fit: cover;
    aspect-ratio: 2 / 1;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
  }
  .contact {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 278px;
    position: relative;
  }
  .header2 {
    color: var(--colors-state-text-sub-600, #525252);
    text-align: left;
    font-family: var(
      --text-small-semibold-font-family,
      "Inter-SemiBold",
      sans-serif
    );
    font-size: var(--text-small-semibold-font-size, 14px);
    line-height: var(--text-small-semibold-line-height, 20px);
    font-weight: var(--text-small-semibold-font-weight, 600);
    position: relative;
  }
  .items-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .item-text {
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
  }
  .container-vft {
    background: var(--colors-state-bg-weak-50, #fafafa);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 296px;
    position: relative;
    box-shadow: var(
      --shadow-hard-2x-small-box-shadow,
      0px 0px 0px 1px rgba(10, 9, 11, 0.05),
      0px 0px 7px 0px rgba(10, 9, 11, 0.05),
      0px 0px 5px -2px rgba(10, 9, 11, 0.06)
    );
  }
  .text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .title {
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-xl-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--text-xl-bold-font-size, 20px);
    line-height: var(--text-xl-bold-line-height, 30px);
    font-weight: var(--text-xl-bold-font-weight, 700);
    position: relative;
    align-self: stretch;
  }
  .subtitle {
    color: var(--colors-state-text-strong-950, #0f0f0f);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
    align-self: stretch;
  }
  .buttons {
    background: var(--colors-state-bg-strong-950, #0f0f0f);
    border-radius: 999px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .frame-1 {
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text {
    color: var(--colors-state-text-white-0, #ffffff);
    text-align: left;
    font-family: var(--text-small-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--text-small-medium-font-size, 14px);
    line-height: var(--text-small-medium-line-height, 20px);
    font-weight: var(--text-small-medium-font-weight, 500);
    position: relative;
  }
  .divider {
    background: var(--colors-state-stroke-soft-100, #f5f5f5);
    align-self: stretch;
    flex-shrink: 0;
    height: 2px;
    position: relative;
  }

  .footer3 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .frame-66 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .footer-info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .copyright-text {
    color: var(--colors-state-text-sub-600, #525252);
    text-align: left;
    font-family: var(
      --text-small-regular-font-family,
      "Inter-Regular",
      sans-serif
    );
    font-size: var(--text-small-regular-font-size, 14px);
    line-height: var(--text-small-regular-line-height, 20px);
    font-weight: var(--text-small-regular-font-weight, 400);
    position: relative;
  }
  .address-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .location-on {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .address-text {
    color: var(--colors-state-text-sub-600, #525252);
    text-align: left;
    font-family: var(
      --text-small-regular-font-family,
      "Inter-Regular",
      sans-serif
    );
    font-size: var(--text-small-regular-font-size, 14px);
    line-height: var(--text-small-regular-line-height, 20px);
    font-weight: var(--text-small-regular-font-weight, 400);
    position: relative;
  }
  .social-media-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .social-media-icon {
    flex-shrink: 0;
    width: 130px;
    height: 24px;
    position: relative;
    object-fit: cover;
  }
  .image-ls-is-cached {
    flex-shrink: 0;
    width: 120px;
    height: 24px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-67 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .buttons2 {
    background: var(--colors-state-bg-white-0, #ffffff);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--colors-state-stroke-soft-200, #e5e5e5);
    border-width: 1px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
      --shadow-soft-shadow-soft-box-shadow,
      0px 1.5px 6px -1px rgba(10, 9, 11, 0.07)
    );
    overflow: hidden;
  }
  .misc-icons-social {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .misc-icons-social2 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
  }
  .symbol {
    height: auto;
    position: absolute;
    left: 0.35px;
    top: 0.32px;
    overflow: visible;
  }
  .misc-icons-social3 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .lozenge {
    width: 100%;
    height: 70.33%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 14.84%;
    top: 14.82%;
    overflow: visible;
  }
  .divider2 {
    background: var(--colors-state-primary-primary-base, #86d733);
    flex-shrink: 0;
    width: 100%;
    height: 8px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  

/* FOOTER */


